MAC                : F2-10-29-21-62-51  
LTEID              : TEST6.COM  
SLICE_ID           : 1 
AUTH_METHOD        : 1 
USERNAME           : L2_USER  
SUSPEND            : 0 
IP_POOL_INDEX      : 1 
IP_ADDR            : 10.5.0.142  
CREATE_TIME        : 2024-05-27 05:18:35 
UPDATE_TIME        : 2024-05-27 05:19:59 
NAS_MDN            : 01029216251  
ID_TYPE            : 1 
TWOFA_USE          : 0 
DEVICE_TYPE        : PC
MODEL_NAME         : 15ZB95N 
SERIAL_NUM         : 207NZCG009587 
